<html>
    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/algorithm-prep/css/gibson.css">
        <link rel="shortcut icon" href="/images/favicon.png">
    </head>
    <body>
        <main class="container">
            {{ content }}
        </main>
        <footer class="container-fluid container-inverse">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p>Built by <a href="http://ryanbonick.com/">Ryan Bonick</a></p>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
